<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]

  # Block all requests containing '../'
  RewriteRule ".*\.\.\/.*" "/" [F]

  # Block all requests to the 'endpoints/' folder that don't end in '.php'
  RewriteRule "^api\/endpoints\/.*(?<!\.php)$" [R=404,L]
  
  RewriteRule /?\.htaccess$ - [F,L]
  # block access to /classes /lib and /credentials
  RewriteRule ^/?(classes|lib|credentials)/.+$ - [F,L]

  ErrorDocument 404 /404
</IfModule>



FallbackResource /index.html
